MSSQL_SERVER=192.168.1.242
MSSQL_INSTANCE=MSSQLSERVER
MSSQL_USER=CommandCenterSA
MSSQL_PASS=
MSSQL_DB=CCMStatisticalData
MITEL_POLLER_SECRET=DialedIn-Mitel-2026-XQ7
CCOPS_BASE_URL=https://ops.answeringlegal.com
